.title {
    background-color: #1f2937;
}
#title1 {
    
}
#title2 {
    
}
#headerLogo {
    text-align: left;
}
a {
    text-align: right;
}
.row2{
    display: flex;
    flex: 1;
}
h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
#subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.titles {
    font-size: 24px;
    color: #f9faf8;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
}
a {
    color: gray;
}
#imageInfo {
    color: #1f2937;
    font-size: 36px;
    text-align: center;
}
.images {
    text-align: center;
    display: flex;
    flex: 1 1 0;
    
}
.quote {
    background-color: #adaeb1;
    text-align: center;
}
.bottom {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
}
#bottom1 {
    
}
#footer {
    background-color: #1F2937;
    color: white;
    text-align: center;

}