#title {
    background-color: #1f2937;
}
h2 {
    font-size: 48 px;
    font-weight: bolder;
    color: #f9faf8;
}
#subtext {
    font-size: 18 px;
    color: #e5e7eb;
}
.titles {
    font-size: 24 px;
    color: #f9faf8;
}